<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CommonLibrary.Properties.Settings.giga_battlerConnectionString"
            connectionString="server=127.0.0.1;user id=Z-Yukari;database=&quot;giga battler&quot;;allowuservariables=True;password=Yukari;persistsecurityinfo=True;characterset=utf8"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>