<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Status_Editer.Properties.Settings.giga_battlerConnectionString"
            connectionString="server=192.168.10.90;user id=sa;database=&quot;giga battler&quot;;allowuservariables=True;persistsecurityinfo=True;password=manager;characterset=utf8"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>